@font-face {
    font-family: 'Consolas';
    src: url('/public/fonts/Consolas.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
