<!DOCTYPE html>
<html lang="en" class="font-mono">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/meta.njk" %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤙</text></svg>">
    <link href="/styles.css" rel="stylesheet">
    <script>
        (function() {
            if(sessionStorage.fontsLoaded) {
                document.documentElement.className = "font-loaded";
                return;
            }

            if("fonts" in document) {
                Promise.all([
                    document.fonts.load("1em Consolas")
                ]).then(function(a) {
                    document.documentElement.className = "font-loaded";
                    sessionStorage.fontsLoaded = true;
                }
            )}
        })();
    </script>
</head>
<body class="antialiased tracking-tighter text-gray-700">
    {{ content | safe }}
</body>
</html>
