---
layout: til
pagination:
    data: notion.tils
    size: 1
    alias: til
permalink: "/til/{{ til.slug }}/index.html"
templateEngineOverride: njk,md
eleventyComputed:
    title: "{{ til.title }}"
    breadcrumb:
        -
            link: til
            text: Today I Learned
        -
            text: "{{ til.title }}"
---

{{ til.markdown | safe }}
