---
layout: default
breadcrumb:
    -
        text: Today I Learned
---

<section class="mb-12">
    An ever growing collection of interesting things I learn throughout the
    day. I've written <b>{{ notion.tils | length }}</b> TIL notes so far.
</section>

<section>
    {% for tag, tils in  notion.tils | groupby("tag") %}
        <div class="mb-4">
            <p class="font-bold">{{ tag }}</p>
            <ol class="first:mt-16">
                {% for til in tils %}
                    <li class="flex items-center {% if loop.index === 1 %} mt-4 {% endif %}">
                        <a href="/til/{{ til.slug }}" class="{{ tailwind.link }}">{{ til.title }}</a>
                        <div class="flex-grow h-px mx-2 bg-gray-300 lg:mx-6"></div>
                        <time datetime="{{ til.date.datetime }}">{{ til.date.short }}</time>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endfor %}
</section>
