---
layout: base
class: max-w-[70ch] space-y-4
---

<main class="mt-20 ml-12 mr-12 {{ class }}">
    <section>
        <p>Leo Generali</p>
        <p>Software Engineer @ <a class="{{ tailwind.link }}" href="https://vimeo.com/">Vimeo</a></p>
    </section>
    <section>
        <p>Navigation</p>
        <ul class="ml-4 list-disc list-inside">
            {# TODO: Add About Section #}
            {# <li><a href="/about" class="{{ tailwind.link }}" href="">About</a></li> #}
            <li>
                <a href="/til" class="{{ tailwind.link }}" href="">Today I Learned</a>
            </li>
        </ul>
    </section>
    <section>
        <p>Recent Writing</p>
        <ul class="ml-4 list-disc list-inside">
            {% set length = 4 if notion.tils | length > 4 else notion.tils | length %}
            {% for index in range(0, length) %}
                {% set til = notion.tils[index] %}
                <li>
                    <a href="/til/{{ til.slug }}" class="{{ tailwind.link }}">{{ til.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
