---js
{
    layout: "base",
    class: "max-w-[70ch] space-y-4",
    links: [
    ],
    eleventyComputed: {
        links: (data) => [
            {
                type: "Twitter",
                emoji: "🐦",
                text: `@${data.metadata.twitter_handle}`,
                href: `https://twitter.com/${data.metadata.twitter_handle}`,
            },
            {
                type: "Email",
                emoji: "📫",
                text: data.metadata.email,
                href: `mailto:${data.metadata.email}?Subject=Hello!`,
            },
            {
                type: "LinkedIn",
                emoji: "💻",
                text: "leogenerali",
                href: "https://www.linkedin.com/in/leogenerali/",
            },
            {
                type: "Strava",
                emoji: "👟",
                text: "Profile",
                href: "https://www.strava.com/athletes/11876587",
            }
        ]
    }
}
---

<main class="mt-20 ml-12 mr-12 {{ class }}">
    <section>
        <p>Leo Generali</p>
        <p>Software Engineer @ <a class="{{ tailwind.link }}" href="https://vimeo.com/">Vimeo</a></p>
    </section>
    <section>
        <p>Links</p>
        <ul class="ml-4 list-none">
            {{ handle }}
            {% for link in links %}
                <li>
                    <span>
                         <span role="presentation" class="relative select-none right-2">{{ link.emoji }}</span>{{ link.type }}: <a href="{{ link.href }}" class="{{ tailwind.link }}">{{ link.text }}</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <p>Navigation</p>
        <ul class="ml-4 list-disc list-inside">
            <li>
                <a href="/til" class="{{ tailwind.link }}" href="">Today I Learned</a>
            </li>
        </ul>
    </section>
    <section>
        <p>Recent Writing</p>
        <ul class="ml-4 list-disc list-inside">
            {% set length = 4 if notion.tils | length > 4 else notion.tils | length %}
            {% for index in range(0, length) %}
                {% set til = notion.tils[index] %}
                <li>
                    <a href="/til/{{ til.slug }}" class="{{ tailwind.link }}">{{ til.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
